<div style="margin: auto;">
    <data-table
    [items]="list"
    [itemCount]="carCount"
    (reload)="reloadList($event)"
    
    [pagination]="false"
    [indexColumn]="false"
    [selectColumn]="false"
    [multiSelect]="false"
    [rowColors]="rowColors"
    >
    
    <data-table-column
    property="id"
    header="ID">
    </data-table-column>
    <data-table-column
    property="firstName"
    header="First Name">
    </data-table-column>

    <data-table-column
    property="lastName"
    header="Last Name">
    </data-table-column>

    <data-table-column
    property="gender"
    header="Gender">
    </data-table-column>

    <data-table-column
    property="emailId"
    header="Email">
    </data-table-column>

    <data-table-column
    property="phoneNo"
    header="Phone NO.">
    </data-table-column>

  
  
    <data-table-column
    header="Date of Birth">
    <ng-template #dataTableCell let-item="item">
    {{item.dateOfBirth | date}}
  </ng-template>
    </data-table-column>
  
    <data-table-column
    header="Date of Join">
    <ng-template #dataTableCell let-item="item">
    {{item.dateOfJoining | date}}
  </ng-template>
    </data-table-column>
  
  

  
    <data-table-column
    header="Update">
    <ng-template #dataTableCell let-item="item">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateEmployeeModal">
     Update
    </button>
    
    <!-- Modal -->
    <div class="modal" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Coupon Code</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            .....
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
            
      
          </div>
        </div>
      </div>
    </div>
    </ng-template>
    
    </data-table-column>


    <data-table-column
    header="Fire Employee">
    <ng-template #dataTableCell let-item="item">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#fireEmployeeModal">
     Fire
    </button>
    
    <!-- Modal -->
    <div class="modal" id="fireEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Coupon Code</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fire Employee</button>
            
      
          </div>
        </div>
      </div>
    </div>
    </ng-template>
    
    </data-table-column>
    </data-table>
  </div>
  